# This file is used to define the manager of this repository                       #
# More information here : https://docs.gitlab.com/ee/user/project/code_owners.html #

# Main owner for this repository
* @et39200

# for multiple owners you can do it like this
# * @ETXXXXX @ETXXXX
